*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}
body{
    font-family: "Malgun Gothic";
}
form{
    background: #000;
    padding: 3px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
form input{
    border: 0;
    padding: 10px;
    width: 90%;
    margin-right: 0.5%;
}
form button{
    width: 9%;
    background: rgb(130, 224, 255);
    border: none;
    padding: 10px;
}
#msg_history{
    height: calc(100vh - 40px);
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow-y: scroll;
}
#msg_history li{
    padding: 5px 10px;
}
#msg_history li:nth-child(odd){
    background: #eee;
}

#block{
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    position: fixed;
    display: none;
    background: #333;
    align-items: center;
    justify-content: center;
    font-size: 48px;
    color: white;
    flex-direction: column;
}
#block p{
    margin-bottom: 25px;
    font-weight: bold;
}
#block span{
    font-size: 28px;
}